{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
<section> 
        <nav>
                <h2>Catagories</h2>
              <ul>
                <li><a href="#">Adidas</a></li>
                <li><a href="#">Nike</a></li>
                <li><a href="#">Bape</a></li>
                <li><a href="#">OFF-WHITE</a></li>
              </ul>
            </nav>
            
            <article>
              <h2>Category Name</h2>
                <ul>
                    <li><a href="#">NMD</a><a> (Adidas)</a></li>
                    <li><a href="#">Air Max 97</a> (Nike)<a></a></li>
                    <li><a href="#">BAPE x Supreme Hoodie</a><a> (Bape)</a></li>
                    <li><a href="#">OFF-WHITE x Uniqlo for all</a><a> (OFF-WHITE)</a></li>
                </ul>                             
            </article>
    </section>            
</div>
{% endblock %}